<%# Partial - Header of the site. DRYing up the site %>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item">
        <% if !account_signed_in? %>
        <%= link_to "CSB", root_path, class:"has-text-weight-bold is-size-1 is-italic has-text-primary is-inverted" %>
        <% else %>
        <%= link_to "CSB", transactions_path, class:"has-text-weight-bold is-size-1 is-italic has-text-primary is-inverted" %>
        <% end %>
      </div>

      <% if account_signed_in? %>
      <div class="navbar-item">
        <%= link_to "Cards", cards_path, class: "button is-black is-inverted"%>
      </div>
      <div class="navbar-item">
        <%= link_to "Payees", payees_path, class: "button is-black is-inverted"%>
      </div>
      <% end %>

      <a role="button" class="navbar-burger burger" data-target="navbarActions" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarActions" class="navbar-end navbar-menu">
      <div class="navbar-item">
        <%= link_to "Contact Us", contact_path, class: "button is-black is-inverted"%>
      </div>
      <% if !account_signed_in? %>
      <div class="navbar-item">
        <%= link_to "Sign In", new_account_session_path, class: "button is-black is-inverted"%>
      </div>
      <div class="navbar-item">
        <%= link_to "Register", new_account_registration_path, class: "button is-primary" %>
      </div>

      <% else %>
      <div class="navbar-item">
        <%= link_to current_account.name, edit_account_registration_path, class: "button is-black is-inverted"%>
      </div>
      <div class="navbar-item">
        <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: "button is-primary" %>
      </div>

      <% end %>
    </div>
  </div>
</nav>