<%# Page for contact form %>
<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="is-size-1"><%= t(".title") %></h1>

                <%# Form to render for contact form. Simple form with inputs for name, email, and message. %>
                <%= form_tag request_contact_path, method: 'post' do %>
                <%= label_tag :name, "Name: " %>
                <%= text_field_tag :name, '', title: "Enter your name", size: 25 %>

                <%= label_tag :email, "Email: " %>
                <%= email_field_tag :email, '', title: t('.enter_email') %>

                <%= label_tag :message, t('.message') %>
                <%= text_field_tag :message, '', title: t('.enter_message'), size: 100 %>


                <%= submit_tag "Send"%>
                <% end %>
            </div>
        </div>
    </div>
</div>