<%# Page for contact form %>
<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="is-size-1"><%= t(".title") %></h1>

                <%# Form to render for contact form. Simple form with inputs for name, email, and message. %>
                <%= simple_form_for :contact, url: request_contact_path, method:"post" do |f| %>
                <div class="form-inputs">
                    <div class="field">
                        <div class="control">
                            <%= f.input :name, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <%= f.input :email, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <%= f.input :message, input_html: {class: 'textarea'}, wrapper: false, label_html: {class: 'label'} %>
                        </div>
                    </div>
                </div>
                <%= f.button :submit, "Send", class: "button is-primary" =%>
                <% end %>
            </div>
        </div>
    </div>
</div>