<div class="section">
    <div class="container">

        <h1 class="is-size-2"> Editing Card </h1>

        <%= simple_form_for(@card) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
            <%= f.input :pin %>
        </div>

        <div class="form-actions">
            <%= f.button :submit %>
        </div>
        <% end %>

        <%= link_to 'Show', @card %> |
        <%= link_to 'Back', cards_path %>

    </div>
</div>