<div class="section">
  <div class="container">

    <p id="notice"><%= notice %></p>

    <div class="level">
      <div class="level-left">
        <h1 class="is-size-1">Cards</h1>
      </div>
      <div class="level-right">
        <%= link_to 'New Card', new_card_path, class: "button is-primary is-outlined" %>
      </div>
    </div>

    <% if @cards.count == 0%>
    <p> You do not have any cards. Please request one using the 'New Card' button at the top right corner.</p>
    <% else %>
    <% @cards.each do |card| %>

    <div class="box">
      <div class="content">
        <div class="level">
          <div class="level-item">
            <div class="content">
              <p class="is-size-6"><strong>Card No.</strong></p>
              <%= card.card_no%>
            </div>
          </div>
          <div class="level-item">
            <div class="content">
              <p class="is-size-6"><strong>CVV</strong></p>
              <%= card.cvv%>
            </div>
          </div>
          <div class="level-item">
            <div class="content">
              <p class="is-size-6"><strong>PIN</strong></p>
              <%= card.pin%>
            </div>
          </div>
          <div class="level-item">
            <div class="content">
              <p class="is-size-6"><strong>Expiry Date</strong></p>
              <%= card.expiry_date%>
            </div>
          </div>
          <div class="level-item">
            <div>
              <% if card.status %>
              <p class="is-size-6 has-text-success">Active</p>
              <% else %>
              <p class="is-size-6 has-text-danger">Terminated</p>
              <% end %>
            </div>
          </div>
          <% if card.status %>
          <div class="level-right">
            <div class="content" class="is-text-primary">
              <%= link_to 'Change PIN', edit_card_path(card), class: "button is-primary is-inverted" %>
            </div>
          </div>
          <div class="level-right">
            <div class="content" class="is-text-primary">
              <%= link_to 'Cancel', cancel_card_path(card), method: :post,  data: { confirm: 'Are you sure you want to remove this card from your history?' }, class: "button is-primary is-inverted" %>
            </div>
          </div>
          <% end %>
          <div class="level-right">
            <div class="content" class="is-text-primary">
              <%= link_to 'Remove', card, method: :delete, data: { confirm: 'Are you sure you want to remove this card from your history?' }, class: "button is-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
    <br>
  </div>
</div>