<!DOCTYPE html>
<html>

<head>
  <title><%= t("app_title")%>: <%= t("app_desc") %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<body class="is-white">
  <div class="page-container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'partials/header' %>
    <div id="content-wrap">
      <%= yield %>
    </div>
  </div>
  <footer class="footer" style="width: 100%">
    <%= render 'partials/footer' %>
  </footer>
</body>

</html>